<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="level" value="PROD" />
    <add key="settingsurl" value="http://bhcapp04:10301/api/settings" />
    <!--VERY IMPORTANT PROD="" QA="QA"-->
    <add key="MongoServer" value="BHCAPP04" />
    <add key="MongoPort" value="27018" />
    <add key="DatahubConn" value="" />
    <add key="Conn" value="" />
    <add key="Conn9" value="Server=bhcsql02; Initial Catalog=ProductDatahub; User Id=sa; Password=bR00k5; Application Name=PDWeb;" />
    <add key="VendorConn" value="" />
    <add key="CompanyID" value="9" />
    <add key="UnitsOfMeasure" value="EA, PACK, ROLL, BAG, CASE, SKID/PALLET" />
    <add key="fileUploadPath" value="~/Uploads" />
    <add key="maxFileSizeLimit" value="100000000" />
    <!-- HUBSPOT-->
    <add key="hapi1" value="41d4966a-2a24-43a1-acac-3a622c299635" />
    <add key="hapi5" value="41d4966a-2a24-43a1-acac-3a622c299635" />
    <add key="hapi3" value="01fe2a6f-eeed-480f-a4bc-cc09995dd598" />
    <add key="portalid1" value="353504" />
    <add key="portalid5" value="353504" />
    <add key="portalid3" value="371337" />
    <!--END HUBSPOT-->
    <add key="udaccount" value="/devfs/ud_data/ISS" />
    <add key="uduser" value="" />
    <add key="udpwd" value="" />
    <add key="udhost" value="192.168.1.14" />
    <!--"192.168.1.14" PROD 192.168.1.30 TEST-->
    <add key="udtype" value="udcs" />
    <add key="ID" value="" />
    <add key="PWD" value="" />
    <add key="HOST" value="192.168.1.14" />
    <add key="ACCOUNT1" value="" />
    <add key="ACCOUNT3" value="" />
    <add key="ACCOUNT5" value="" />
    <add key="ACCOUNT6" value="" />
    <add key="ACCOUNT9" value="" />
    <!--/devfs/ud_data/ISS for test/qa /bhc1/ud_data/ISS for prod-->
    <!--/devfs/ud_data/ISS for test/qa /bhc1/ud_data/ISS for prod-->
    <add key="log" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
